<h2>CSS3 Modules</h2>
<p>CSS3 has been split into &quot;modules&quot;. It contains the &quot;old CSS specification&quot; (which has 
been split into smaller pieces). In addition, new modules are added.</p>
<p>Some of the most important CSS3 modules are:</p>

<ul>
	<li>Selectors</li>
	<li>Box Model</li>
	<li>Backgrounds and Borders</li>
	<li>Image Values and Replaced Content</li>
	<li>Text Effects</li>
    <li>2D/3D Transformations</li>
	<li>Animations</li>
	<li>Multiple Column Layout</li>
	<li>User Interface</li>
</ul>
<p>Most of the new CSS3 properties are 
implemented in modern 
browsers.</p>

<br>
<div class="chapter">
<div class="prev"><a class="chapter" href="css_counters.asp">&laquo; Previous</a></div>
<div class="next"><a class="chapter" href="css3_borders.asp">Next Chapter &raquo;</a></div>
</div>
</div>
