<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">



        <div class="row">
            <div class="col-md-8">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav"><%= link_to "HOME", root_path,class:"navbar-brand team-name"%></ul>
                <ul class="nav navbar-nav"><%= link_to "All user", users_path,class:"navbar-brand"%></ul>
                <ul class="nav navbar-nav"><%= link_to "Logs", user_logs_path,class:"navbar-brand"%></ul>
                <ul class="nav navbar-nav"><%= link_to "Goals", goals_path,class:"navbar-brand"%></ul>
            </div>

            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

           
                
              
            </div>
            <!-- /.navbar-collapse -->

        </div>
        </div>
        <!-- /.container -->
    </nav>